/*******************************************************************************
** Exponentiation.java                                                        **
** -------------------------------------------------------------------------- **
** Subclass of Operator.java. Performs exponentiation.                        **
** -------------------------------------------------------------------------- **
** Developed by Leon Byford <ldjb20@bath.ac.uk>                               **
** Last modified: 27 December 2012                                            **
*******************************************************************************/

public class Exponentiation extends Operator {
	public Exponentiation() {
		super.setData(new Object[] {4, "right"});
	}
	public Double operate(Double var1, Double var2) {
		return Math.pow(var1, var2);
	}
}